<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu._5weibo.mapper.UserMapper">
    <select id="selectNumByUsername" resultType="cn.tedu._5weibo.pojo.vo.UserSelectUserVO">
        SELECT id, username, password
        FROM user
        WHERE username = #{username}
    </select>

    <insert id="insertUser">
        INSERT INTO user (username, password, nickname, created)
        VALUES (#{username}, #{password}, #{nickname}, #{created});
    </insert>

    <delete id="deleteUser">
        DELETE
        FROM user
        WHERE username = #{username};
    </delete>

    <select id="selectNumById" resultType="cn.tedu._5weibo.pojo.vo.UserUsernameByIdVO">
        SELECT username, created
        FROM user
        where id = #{id};
    </select>
</mapper>
