<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.egmybatis2.mapper.ProductMapper">
    <insert id="insert">INSERT INTO product (title, price, stock)
                        VALUES (#{title}, #{price}, #{stock})</insert>
    <delete id="delete">DELETE
                        FROM product
                        WHERE id = #{id}</delete>
    <update id="update">UPDATE product
                        SET title = #{title},
                            price = #{price},
                            stock = #{stock}
                        WHERE id = #{id}</update>
    <select id="selectById" resultType="cn.tedu.egmybatis2.pojo.entity.Product">SELECT id, title, price, stock
                                                                                FROM product
                                                                                WHERE id = #{id}</select>
    <select id="selectProductVO1ByStock" resultType="cn.tedu.egmybatis2.pojo.vo.ProductVO1">SELECT title, price
                                                                                            FROM product
                                                                                            WHERE stock = #{stock}</select>
</mapper>
