<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu._04mybatis.mapper.WeiboMapper">

    <insert id="insert">
        INSERT INTO weibo (content, created, user_id)
        VALUES (#{content}, #{created}, #{userId})
    </insert>

    <delete id="delete">
        DELETE
        FROM weibo
        WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE weibo
        SET content = #{content},
            created = #{created},
            user_id = #{userId}
        WHERE id = #{id}
    </update>

    <select id="select" resultType="cn.tedu._04mybatis.pojo.entity.Weibo">
        SELECT id, content, created, user_id userId
        FROM weibo
        WHERE id = #{id}
    </select>

    <select id="selectByUserId" resultType="cn.tedu._04mybatis.pojo.entity.Weibo">
        SELECT id, content, created, user_id userId
        FROM weibo
        WHERE user_id = #{userId}
    </select>

    <select id="selectWeiboVO1ById" resultType="cn.tedu._04mybatis.pojo.vo.WeiboVO1">
        SELECT content, created
        FROM weibo
        WHERE id = #{id}
    </select>

    <select id="selectWeiboVO2" resultType="cn.tedu._04mybatis.pojo.vo.WeiboVO2">
        SELECT content, user_id userId
        FROM weibo
    </select>

    <update id="updateDynamic">
        UPDATE weibo
        <set>
            <if test="content!=null">content = #{content},</if>
            <if test="created!=null">created = #{created},</if>
            <if test="userId!=null">user_id = #{userId}</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteDynamic">
        DELETE
        FROM weibo
        WHERE id IN (
        <foreach collection="array" item="item" separator=",">
            #{item}
        </foreach>
        )
    </delete>

    <sql id="delSQL">
        DELETE
        FROM weibo
    </sql>

    <delete id="deleteDynamicList">
        <include refid="delSQL"/>
        WHERE id IN (
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        )
    </delete>

    <select id="selectNum" resultType="int">
        SELECT COUNT(*)
        FROM weibo
    </select>

    <resultMap id="map1" type="cn.tedu._04mybatis.pojo.vo.WeiboVO3">
        <id column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="user_id" property="userId"/>
    </resultMap>

    <select id="selectWeibo" resultMap="map1">
        SELECT id, content, user_id
        FROM weibo
        WHERE id = #{id};
    </select>

    <resultMap id="map2" type="cn.tedu._04mybatis.pojo.vo.WeiboVO4">
        <id column="uid" property="id"/>
        <result column="nickname" property="nickname"/>
        <collection property="weiboList" ofType="cn.tedu._04mybatis.pojo.entity.Weibo">
            <id column="wid" property="id"/>
            <result column="content" property="content"/>
            <result column="created" property="created"/>
            <result column="user_id" property="userId"/>
        </collection>
    </resultMap>

    <select id="selectMap" resultMap="map2">
        SELECT user.id uid, user.nickname, weibo.id wid, weibo.content, weibo.created, weibo.user_id
        FROM weibo
                 JOIN user ON user.id = weibo.user_id
        WHERE user.id = #{id}
    </select>
</mapper>
